extends layout.pug

block content
    .intro-to-premium
        h1 Get the most from Mezzo.
        h3 Upgrade to premium membership for $5/month or $50/year.
    .benefits-to-premium
        h2 Get unlimited access to anything you ever wanted to know about music.
        img()
    .support-the-musician
        h2 Support the musicians you want to hear more from.
        img()
    .user-recommendations
        h2 Why I love Mezzo...
        h3 "I love Mezzo because it is the one place where Musicians can come to create. It is a great outlet for me when I am looking for motivation in writing songs. - Kayt Molina"

